// START:: VARIABLES
$deepBlue: #00303f;
$lightCoffee: #d0af85;
$midRed: #bb0808;
$lightOrange: #ff7c00;
$lighterGrey: #c1c1c1;
$lightGrey: #666;
$darkGrey: #212121;
$white: #fff;
$paddingAmount: 30px;
$borderRadiusAmount: 10px;
$midBorderRadiusAmount: 20px;
$largeBorderRadiusAmount: 30px;
// END:: VARIABLES

// START:: MIXINS
@mixin transitioning() {
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

@mixin borderradius($br) {
  -moz-border-radius: $br;
  -webkit-border-radius: $br;
  -o-border-radius: $br;
  border-radius: $br;
}

@mixin menuHoverEffect {
  overflow: hidden;
  margin: 0 10px;
  padding-bottom: 5px;
  position: relative;
  font-size: 15px;
  a {
    text-decoration: none;
    color: $deepBlue;
    @include transitioning();
  }
  &.active {
    a {
      color: $lightCoffee;
    }
    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      display: block;
      width: 100%;
      height: 2px;
      background-color: $lightCoffee;
      @include transitioning();
    }
  }
  &::before {
    content: "";
    position: absolute;
    left: -100%;
    bottom: 0;
    display: block;
    width: 100%;
    height: 2px;
    background-color: $lightCoffee;
    @include transitioning();
  }
  &:hover {
    a{
      color: $lightCoffee;
    }
  }
  &:hover::before {
    left: 0;
  }
}

@mixin btnHoverEffect {
  overflow: hidden;
  text-decoration: none;
  padding: 5px 15px;
  border: 2px solid $lightCoffee;
  background-color: transparent;
  color: $lightCoffee;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  @include borderradius(30px);
  &::before {
    content: "";
    position: absolute;
    left: -100%;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: $lightCoffee;
    z-index: -1;
    @include transitioning();
  }
  &:hover {
    &::before{
      left: 0;
    }
    color: $white;
  }
}

@mixin mainHeaderStyle {
  color: $deepBlue;
  border-left: 3px solid $lightCoffee;
  padding: 8px;
}

@mixin flexCenterAlignment {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin simpleShadow {
  box-shadow: 0 0 15px 2px #888;
}
// END:: MIXINS

// START:: GLOBAL STYLES
body {
  font-family: 'Noto Serif JP', serif;
  overflow-x: hidden;
  height: 20000px;
  &::-webkit-scrollbar {
    background-color: $lighterGrey;
    width: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $deepBlue;
  }
}

.header_img_wraper {
  position: relative;
  min-height: 250px;
  max-height: 250px;
  img {
    width: 100%;
    min-height: 250px;
    max-height: 250px;
  }
  .section_svg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }

  .section_svg svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 50px;
  }

  .section_svg .shape-fill {
    fill: #FFFFFF;
  }

  /** For tablet devices **/
  @media (min-width: 768px) and (max-width: 1023px) {
    .section_svg svg {
      width: calc(133% + 1.3px);
      height: 41px;
    }
  }

/** For mobile devices **/
  @media (max-width: 767px) {
    .section_svg svg {
      width: calc(199% + 1.3px);
      height: 52px;
    }
  }
}
// END:: GLOBAL STYLES

// START:: LARGE SCREENS NAVBAR STYLES
nav {
  padding: 15px 20px;

  // START:: NAV LOGO STYLE
  .site-logo {
    min-width: 80px;
    max-width: 80px;
    min-height: 80px;
    max-height: 80px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  // END:: NAV LOGO STYLE

  // START:: NAV LINKS STYLE
  .nav-links {
    ul {
      li {
        @include menuHoverEffect();
      }
    }
  }
  // END:: NAV LINKS STYLE

  // START:: LANGUAGE BTN STYLE
  .lang-button {
    button {
      background-color: transparent;
      border: none;
      padding: 0;
      font-weight: bold;
      span {
        font-size: 16px;
        padding: 3px 10px;
        &:nth-child(1) {
          color: $white;
          background-color: $lightCoffee;
          border: 1px solid $lightCoffee;
          border-right: none;
          border-radius: 30px;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
        &:nth-child(2) {
          color: $lightCoffee;
          border: 1px solid $lightCoffee;
          border-left: none;
          border-radius: 30px;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }
    }
  }
  // END:: LANGUAGE BTN STYLE
}
// END:: LARGE SCREENS NAVBAR STYLES

// START:: HOME SLIDER STYLES
.carousel {
  .carousel-indicators {
    li {
      padding: 0;
      width: 13px;
      height: 13px;
      border: none;
      @include borderradius(50%);
      &.active {
        width: 40px;
        background-color: $deepBlue;
        border: none;
        @include borderradius(30px);
      }
    }
  }

  .carousel-inner {
    max-height: 500px;
    img {
      width: 100%;
      min-height: 500px;
      max-height: 500px;
    }
  }
}
// END:: HOME SLIDER STYLES

// START:: ABOUT US SECTION STYLES
.about_us_sec {
  padding-bottom: $paddingAmount;
  .about_img_box {
    min-height: 350px;
    max-height: 350px;
    img {
      width: 100%;
      height: 100%;
      border-radius: $borderRadiusAmount;
    }
  }

  .about_card {
    border-radius: $borderRadiusAmount;
    .about_card_img {
      height: auto;
      padding: 15px;
      box-shadow: 0 0 15px 2px #888;
      img{
        width: 100%;
        height: 100%;
        border-radius: $borderRadiusAmount;
      }
    }
    .about_card_info {
      padding: 25px;
      box-shadow: 0 0 15px 2px #888;
      h3 {
        color: $deepBlue;
      }
      p {
        color: $lightGrey;
      }
      .btn_box {
        @include flexCenterAlignment();
        a {
          overflow: hidden;
          @include btnHoverEffect();
        }
      }
    }
  }
}
// END:: ABOUT US SECTION STYLES

// START:: WHY SECTION STYLES
.why_sec {
  padding-top: $paddingAmount;
  .header_wraper {
    @include flexCenterAlignment();
    h2 {
      @include mainHeaderStyle();
    }
  }

  .icons_wraper {
    background: $lightCoffee;
    background: -webkit-linear-gradient(to top, $lightCoffee, #fff);
    background: linear-gradient(to top, $lightCoffee, #fff);
    padding-bottom: $paddingAmount;
    img {
      min-width: 120px;
      max-width: 120px;
      min-height: 120px;
      max-height: 120px;
    }
    h5 {
      color: $deepBlue;
    }
  }
}
// END:: WHY SECTION STYLES

// START:: LIBERARY SECTION STYLES
.liberary {
  position: relative;
  background: url("../media/books.jpg") no-repeat fixed;
  width: 100%;
  height: 350px;
  position: relative;
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    @include flexCenterAlignment();
    h3 {
      background-color: rgba(241, 187, 105, 0.7);
      color: $deepBlue;
      font-weight: bolder;
      padding: 15px 25px;
      border-radius: $largeBorderRadiusAmount;
    }
  }
}
// END:: LIBERARY SECTION STYLES

// START:: BOOKS SECTION STYLES
.books_sec {
  padding-top: $paddingAmount;
  .books_panel {
    padding: 20px;
    height: fit-content;
    border-radius: $borderRadiusAmount;
    @include simpleShadow();
    h5 {
      color: $deepBlue;
      text-align: center;
    }
    p {
      color: $lightGrey;
    }
    .btn_box {
      @include flexCenterAlignment();
      a {
        overflow: hidden;
        @include btnHoverEffect();
      }
    }
  }

  .book_details {
    .card {
      height: 100%;
      position: relative;
      border: none;
      .card_img_wraper {
        img {
          min-height: 320px;
          max-height: 320px;
          border-radius: $midBorderRadiusAmount;
        }
        .badge {
          position: absolute;
          right: -8px;
          top: 20px;
          background-color: $lightCoffee;
          color: $deepBlue;
          padding: 5px
        }
      }

      .card-body {
        padding-top: 5px;
        @include flexCenterAlignment();
        flex-direction: column;
        h5 {
          color: $deepBlue;
        }

        ul {
          width: 100%;
          li {
            margin-top: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: $deepBlue;
            &:first-child {
              margin-top: 0;
            }
            &:last-child {
              span {
                &:last-child {
                  color: $midRed;
                }
              }
            }
          }
        }

        .btn_box {
          @include flexCenterAlignment();
          z-index: 1;
          a {
            overflow: hidden;
            @include btnHoverEffect();
          }
        }
      }
    }
  }
}
// END:: BOOKS SECTION STYLES

// START:: TESTEMONIAL SECTION STYLES
.testemonials {
  padding-top: $paddingAmount;
  padding-bottom: $paddingAmount;
  .header_wraper {
    @include flexCenterAlignment();
    h2 {
      @include mainHeaderStyle();
    }
  }

  .owl-carousel {
    position: relative;

    .item {
      .testemonial_card {
        padding: 20px 0;
        border-radius: $borderRadiusAmount;
        box-shadow: 0 0 25px -5px $lightCoffee inset;
        .row {
          // @include flexCenterAlignment();
          .testemonial_img {
            @include flexCenterAlignment();
            flex-direction: column;
            img {
              min-width: 150px;
              max-width: 150px;
              min-height: 150px;
              max-height: 150px;
              border: 3px solid $lightCoffee;
              border-radius: 50%;
            }
            h5 {
              color: $deepBlue;
              margin-top: 10px;
            }
          }

          .testemonial_body {
            color: $lightGrey;
            text-align: start;
            padding: 20px;
            span {
              // float: left;
              margin: 0 10px;
              svg {
                color: $deepBlue;
              }
            }
          }
        }
      }
    }

    .owl-nav {
      margin-top: 0;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      display: flex;
      justify-content: space-between;
      .owl-prev,
      .owl-next {
        position: relative;
        background-color: $deepBlue;
        color: $white;
        width: 35px;
        height: 35px;
        line-height: 25px;
        border-radius: 50%;
        overflow: hidden;
        @include transitioning();
        &:hover {
          transform: scale(1.1);
        }
      }
      .owl-prev {
        &::before {
          content: "\f0d9";
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          position: absolute;
          top: 0;
          left: 0;  
          width: 100%;
          height: 100%;
          background-color: $deepBlue;
          @include flexCenterAlignment();
        }
      }
      .owl-next {
        &::before {
          content: "\f0da";
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          position: absolute;
          top: 0;
          left: 0;  
          width: 100%;
          height: 100%;
          background-color: $deepBlue;
          @include flexCenterAlignment();
        }
      }
    }
  }
}
// END:: TESTEMONIAL SECTION STYLES

// START:: VIDEOS SECTION STYLES
.videos-sec {
  padding-top: $paddingAmount;
  padding-bottom: $paddingAmount;
  .header_wraper {
    @include flexCenterAlignment();
    h2 {
      @include mainHeaderStyle();
    }
  }

  .owl-carousel {
    position: relative;

    .item {
      .iframe_wraper {
        min-height: 250px;
        max-height: 250px;
        iframe {
          width: 100%;
          min-height: 250px;
          max-height: 250px;
        }
      }
      h5 {
        color: $deepBlue;
        margin-top: 8px;
      }
    }

    .owl-nav {
      margin-top: 0;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      display: flex;
      justify-content: space-between;
      .owl-prev,
      .owl-next {
        position: relative;
        background-color: $deepBlue;
        color: $white;
        width: 35px;
        height: 35px;
        line-height: 25px;
        border-radius: 50%;
        overflow: hidden;
        @include transitioning();
        &:hover {
          transform: scale(1.1);
        }
      }
      .owl-prev {
        &::before {
          content: "\f0d9";
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          position: absolute;
          top: 0;
          left: 0;  
          width: 100%;
          height: 100%;
          background-color: $deepBlue;
          @include flexCenterAlignment();
        }
      }
      .owl-next {
        &::before {
          content: "\f0da";
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          position: absolute;
          top: 0;
          left: 0;  
          width: 100%;
          height: 100%;
          background-color: $deepBlue;
          @include flexCenterAlignment();
        }
      }
    }
  }

  .btn_box {
    margin-top: 15px;
    @include flexCenterAlignment();
    a {
      overflow: hidden;
      @include btnHoverEffect();
    }
  }
}
// END:: VIDEOS SECTION STYLES

// START:: ABOUT PAGE STYLE
.about_dr_desc {
  .about_img {
    height: auto;
    width: 100%;
    img {
      width: 100%;
      height: 100%;
      border-radius: $borderRadiusAmount;
    }
  }

  .about_text {
    @include flexCenterAlignment();
    flex-direction: column;
    h3 {
      width: 100%;
      color: $deepBlue;
      text-align: start;
    }
    p {
      color: $lightGrey;
      text-align: start;
    }
    .icon_wpaper {
      @include flexCenterAlignment();
      flex-direction: column;
      img {
        min-width: 120px;
        max-width: 120px;
        min-height: 120px;
        max-height: 120px;
      }
      h6 {
        text-align: center;
        color: $deepBlue;
      }
    }
  }
}
// END:: ABOUT PAGE STYLE

// START:: DR OPERATION SECTION STYLES
.dr_operation {
  padding-top: $paddingAmount;
  .header_wraper {
    @include flexCenterAlignment();
    h2 {
      @include mainHeaderStyle();
    }
  }
  
  .operation_img_wraper {
    img {
      width: 100%;
      min-height: 250px;
      max-height: 250px;
      border-radius: $borderRadiusAmount;
    }
    h5 {
      color: $deepBlue;
    }
  }

  .btn_box {
    @include flexCenterAlignment();
    a {
      @include btnHoverEffect();
    }
  }
}
// END:: DR OPERATION SECTION STYLES

// START:: HOW TO SHARE SECTION STYLES
.share {
  .header_wraper {
    @include flexCenterAlignment();
    h2 {
      @include mainHeaderStyle();
    }
  }

  .share_img_wraper {
    img {
      width: 100%;
      min-height: 400px;
      max-height: 400px;
      border-radius: $borderRadiusAmount;
    }
  }

  .share_info_wraper {
    padding-top: 20px;
    font-size: 20px;
    color: $lightGrey;
    line-height: 1.6;
    text-align: justify;
  }

  .form_wraper {
    padding-top: $paddingAmount;
    padding-bottom: $paddingAmount;
    form {
      .form-group {
        input,
        textarea {
          width: 100%;
          border: 1px solid $deepBlue;
          padding: 30px;
          border-radius: $borderRadiusAmount;
          &:focus {
            outline: none;
          }
        }
        textarea {
          height: 250px;
        }
      }

      .btn_box {
        @include flexCenterAlignment();
        button {
          @include btnHoverEffect();
        }
      }
    }
  }
}
// END:: HOW TO SHARE SECTION STYLES

// START:: FOOTER STYLES
footer {
  background-color: $darkGrey;

  .footer_logo {
    @include flexCenterAlignment();
    img {
      min-width: 100px;
      max-width: 100px;
      min-height: 100px;
      max-height: 100px;
    }
  }

  .short_cuts {
    display: flex;
    flex-direction: row;
    a {
      text-decoration: none;
      color: $lighterGrey;
      overflow: hidden;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: -100%;
        display: block;
        width: 100%;
        height: 2px;
        background-color: $lightCoffee;
        @include transitioning();
      }
      &:hover {
        color: $lightCoffee;
        &::before {
          left: 0;
        }
      }
    }
  }

  .get_in_touch {
    h5 {
      color: $lighterGrey;
    }
    ul {
      color: $lighterGrey; 
      li {
        margin: 8px 0;
        span {
          color: $lightCoffee;
          a {
            text-decoration: none;
            color: $lightCoffee;
          }
        }
      }
    }
  }

  .follow_us {
    h5 {
      color: $lighterGrey;
    }
    ul {
      text-align: center;
      li {
        display: inline-block;
        margin: 3px 5px;
        @include transitioning();
        a {
          color: $white;
          opacity: 0.5;
        }
        &:hover {
          transform: rotate(360deg) scale(1.2);
          a {
            opacity: 1;
          }
        }
      }
    }

    .payment {
      @include transitioning();
      a {
        text-decoration: none;
        color: $lightCoffee;
      }
      &:hover {
        transform: scale(1.2)
      }
    }
  }

  .copy_rights {
    background-color: #444;
    color: $lightCoffee;
    span {
      a {
        text-decoration: none;
        color: $deepBlue;
        @include transitioning();
        &:hover {
          color: $lightOrange;
        }
      }
    }
  }
}
// END:: FOOTER STYLES