body {
  font-family: 'Noto Serif JP', serif;
  overflow-x: hidden;
  height: 20000px;
}

nav {
  padding: 15px 20px;
}

nav .site-logo {
  min-width: 75px;
  max-width: 75px;
  min-height: 75px;
  max-height: 75px;
}

nav .site-logo img {
  width: 100%;
  height: 100%;
}

nav .nav-links ul li {
  overflow: hidden;
  margin: 0 8px;
  padding-bottom: 5px;
  position: relative;
  font-size: 15px;
}

nav .nav-links ul li a {
  text-decoration: none;
  color: #00303f;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

nav .nav-links ul li.active a {
  color: #d0af85;
}

nav .nav-links ul li.active::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #d0af85;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

nav .nav-links ul li::before {
  content: "";
  position: absolute;
  left: -100%;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #d0af85;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

nav .nav-links ul li:hover a {
  color: #d0af85;
}

nav .nav-links ul li:hover::before {
  left: 0;
}

nav .lang-button button {
  background-color: transparent;
  border: none;
  padding: 0;
  font-weight: bold;
}

nav .lang-button button span {
  font-size: 16px;
  padding: 3px 10px;
}

nav .lang-button button span:nth-child(1) {
  color: #fff;
  background-color: #d0af85;
  border: 1px solid #d0af85;
  border-right: none;
  border-radius: 30px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

nav .lang-button button span:nth-child(2) {
  color: #d0af85;
  border: 1px solid #d0af85;
  border-left: none;
  border-radius: 30px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.carousel .carousel-indicators li {
  padding: 0;
  width: 13px;
  height: 13px;
  border: 1px solid #00303f;
  border-radius: 50%;
}

.carousel .carousel-indicators li.active {
  width: 40px;
  background-color: #00303f;
  border-radius: 30px;
}

.carousel .carousel-inner {
  max-height: 500px;
}

.carousel .carousel-inner img {
  width: 100%;
  min-height: 500px;
  max-height: 500px;
}

.about_us_sec .about_img_box {
  min-height: 350px;
  max-height: 350px;
}

.about_us_sec .about_img_box img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.about_us_sec .about_card {
  border: 1px solid #00303f;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 15px 2px #00303f;
          box-shadow: 0 0 15px 2px #00303f;
}

.about_us_sec .about_card .about_card_img {
  height: auto;
  padding: 0;
}

.about_us_sec .about_card .about_card_img img {
  width: 100%;
  height: 100%;
  border-radius: 10px 0 0 10px;
}

.about_us_sec .about_card .about_card_info {
  padding: 20px;
}

.about_us_sec .about_card .about_card_info h3 {
  color: #00303f;
}

.about_us_sec .about_card .about_card_info p {
  color: #666;
}

.about_us_sec .about_card .about_card_info .btn_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about_us_sec .about_card .about_card_info .btn_box a {
  overflow: hidden;
  overflow: hidden;
  text-decoration: none;
  padding: 5px 15px;
  border: 2px solid #d0af85;
  background-color: transparent;
  color: #d0af85;
  text-transform: uppercase;
  position: relative;
  border-radius: 30px;
}

.about_us_sec .about_card .about_card_info .btn_box a::before {
  content: "";
  position: absolute;
  left: -100%;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #d0af85;
  z-index: -1;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.about_us_sec .about_card .about_card_info .btn_box a:hover {
  color: #fff;
}

.about_us_sec .about_card .about_card_info .btn_box a:hover::before {
  left: 0;
}
/*# sourceMappingURL=style.css.map */